<div class="dropdown"><button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" <!-- BEGIN with_id --> id="{ID}"<!-- END with_id --> aria-haspopup="true" aria-expanded="false">{LABEL} <span class="caret"></span></button>
<ul class="dropdown-menu">
<!-- BEGIN item -->	<li>{ITEM}</li>
<!-- END item --></ul>
</div>
