.btn {
  font-size: @il-button-font-size;
}

input.btn{
  display: inline-block;
  min-width: @il-button-min-width;
  vertical-align: top;

  @media (max-width: @grid-float-breakpoint-max){
    min-width: 0;
  }
}


.btn-default {
  .button-variant(@il-btn-standard-color; @il-btn-standard-bg; @il-btn-standard-border);
}

.btn-primary {
  .button-variant(@il-btn-primary-color; @il-btn-primary-bg; @il-btn-primary-border);
}



.btn {
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: @il-disabled-btn-bg;
      border-color: @il-disabled-btn-border;
      color: @il-disabled-btn-color;
      cursor: default;
    }
  }
}

// #16322
button > .glyphicon {
  pointer-events: none;
}

a.btn-link.ilSubmitInactive, a.btn-link.ilSubmitInactive:hover {
	background-color: inherit;
	color: @text-color;
	padding: 0;
}