{RELOAD}
<div id="ilTopBar" class="ilTopBar">
	<div class="container">
		<div class="row">
            <!-- BEGIN header_top_title -->
            <div class="ilTopTitle">{TXT_HEADER_TITLE}</div>
            <!-- END header_top_title -->
            <ul id="ilTopBarNav" class="">
                <!-- BEGIN lang_select -->
                <li class="dropdown"><a id="mm_lang_sel" href="#" class="dropdown-toggle" data-toggle="dropdown">{TXT_LANGSELECT} <span class="caret"></span></a>
                    {LANG_SELECT}
                </li>
                <!-- END lang_select -->
            </ul>
		</div>
	</div>
</div>
<div class="ilMainHeader">
	<header class="container">
		<div id="il_startup_logo" class="row">
			<img src="{HEADER_ICON}" alt="Logo" />
		</div>
	</header>
</div>
<div class="ilMainMenu">
	<div class="container">
		<div class="row">
			<nav id="ilTopNav" class="navbar navbar-default" role="navigation"></nav>
		</div>
	</div>
</div>
<div id="mainspacekeeper" class="container">
	<div class="row" style="position: relative;">
		<div id="fixed_content" class=" ilContentFixed">
			<div id="mainscrolldiv" class="ilStartupFrame container">
				<!-- BEGIN page_headline -->
				<div class="il_Header">
					<h1><!-- BEGIN img_headline --><img src="{IMG_PAGEHEADLINE}" /> <!-- END img_headline -->{TXT_PAGEHEADLINE}</h1>
				</div>
				<!-- END page_headline -->
				{MESSAGE}
				<div class="ilMessageBox">
					<!-- BEGIN warning -->
					<img class="ilFailureMessage" alt="{ALT_IMAGE}" title="{ALT_IMAGE}" src="{SRC_IMAGE}" />
					<div class="ilFailureMessage">
						<h5 class="ilAccHeadingHidden"><a id="il_message_focus" name="il_message_focus">{MESSAGE_HEADING}</a></h5>
						{TXT_MSG_LOGIN_FAILED}
					</div>
					<!-- END warning -->
					<!-- BEGIN success -->
					<img class="ilSuccessMessage" alt="{ALT_IMAGE}" title="{ALT_IMAGE}" src="{SRC_IMAGE}" />
					<div class="ilSuccessMessage">
						<h5 class="ilAccHeadingHidden"><a id="il_message_focus" name="il_message_focus">{MESSAGE_HEADING}</a></h5>
						{TXT_MSG_LOGIN_SUCCESS}
					</div>
					<!-- END success -->
				</div>
				{STARTUP_CONTENT}
				<!-- BEGIN links_bl -->
				<div class="ilCenter" style="padding-top: 25px">
					<!-- BEGIN link_item_bl -->
					<a class="il_ContainerItemCommand" href="{LINK_URL}">{LINK_TXT}</a>
					<!-- END link_item_bl -->
				</div>
				<!-- END links_bl -->
			</div>	
		</div>
	</div>
</div>
<div id="minheight"></div>
<footer id="ilFooter" class="ilFooter hidden-print">
	<div class="container-fluid ilContainerWidth">
		<div class="row"><div class="ilFooterContainer">{PRMLINK} {FOOTER}</div></div>
	</div>
</footer>
{SCRIPT}